<h1>Result</h1>

<p><%= @word %></p>

<% if @chars.size.zero? %>
  <p><%= "You need to type a word" %></p>
<% elsif !@chars.all? { |char| @letters.include?(char) } %>
  <p>
    <span>Sorry but </span>
    <strong><%= @word %></strong>
    <span> can't be built out of </span>
    <span><%= @letters.gsub(/\s/, ", ") %></span>
  </p>
<% elsif @chars.all? { |char| @letters.include?(char) } && !@english %>
  <p>
    <span>"Sorry but </span>
    <strong><%= @word %></strong>
    <span> doesn't seem to be a valid english word</span>
  </p>
<% elsif @chars.all? { |char| @letters.include?(char) && @chars.count(char) <= @letters.count(char) } %>
  <p>
    <span>Congratulations, </span>
    <strong><%= @word %></strong>
    <span> is a valid english word</span>
  </p>
<% end %>

<%= link_to "Play Again", new_path %>
